/* Simple two column layout 50/50 */
.widget-2col {
  width: 50%;
}

.widget-right {
  float:right;
}
.widget-left {
  float:left;
}

/* Quicktabs layout */
.quicktabs-layout-column.left-col-wrapper {
  width: 66%;
  float: left;
}

.quicktabs-layout-column.right-col-wrapper {
  width: 34%;
  float: left;
}
