/* Simple two column layout 50/50 */
.widget-2col,
.widget-left {
  width: 50%;
}

.widget-right {
  float: right;
}
.widget-left {
  float: left;
}

/* Three column layout 50/25/25 */
.widget-right-first,
.widget-right-second {
  width: 25%;
  float: left;
}

/* Quicktabs layout */
.quicktabs-layout-column.left-col-wrapper {
  width: 60%;
  float: left;
}

.quicktabs-layout-column.right-col-wrapper {
  width: 40%;
  float: left;
}

.region-quicktabs-wrapper {
  margin-bottom: 1em;
}

/* Section header layout */
.widget-section-header {
  background-color: #363636;
  width: 100%;
  min-height: 40px;
  margin-bottom: 25px;
}

.widget-section-header a {
  color: #FFFFFF;
}

.widget-title {
  float: left;
  width: 30%;
  color: #FFFFFF;
  padding-left: 0.25em;
}

.widget-links {
  width: 70%;
  float: left;
}

.region-id-links {
  float: right;
}

.region-id-links .menu {
  margin: 7px 10px 7px 0;
}

.region-id-links .menu li {
  display: inline;
  padding: 0 0.5em;
  border-right: 1px solid #FFFFFF;
}

.region-id-links .menu li:last-child {
  border-right: 0;
}

.region-id-links .menu li a {
  font-weight: bold;
}
