<div class="layout">
    {% if label %}
        <header class="widget-section-header">
            <h1 class="widget-title">{{ label }}</h1>
            <nav class="widget-links">{{ regions.links }}</nav>
        </header>
    {% endif %}
    <div class="widget-main">{{ regions.main }}</div>
    <div class="clearfix"></div>
</div>
