<section class="layout">
    {% if label %}
        <header class="widget-section-header">
            <h1 class="widget-title">{{ label }}</h1>
            <nav class="widget-links">{{ regions.links }}</nav>
        </header>
    {% endif %}
    <section class="widget-left widget-2col">{{ regions.left }}</section>
    <section class="widget-right widget-2col">{{ regions.right }}</section>
</section>
